.scroll-button{
    position: fixed;
    width: 100%;
    left: 93%;

    bottom: 40px;
    height: 40px;
    z-index: 1;
    cursor: pointer;
    color:  #03045e;
    display: inline;

}
@media screen and (max-width: 900px) {
    .scroll-button{
    left: 87%;
    }
}
