.main-nav{
    width: 100%;
    height: 80px;
    display: grid;
    background-color: #ddd;
    grid-template-columns: 160px 1fr 2fr  160px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.logo{
    display: grid;
    margin-bottom: 20px;
    grid-column: 2/3;
    justify-content: start;
    align-items: center;
}
.menu-link{
    grid-column: 3/4;

}
.menu-link ul{
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu-link ul li{
    list-style-type: none;
    font-size: 18px;
}
.menu-link ul li a{
    font-family: 'Roboto';
    text-decoration: none;
    color: #03045e;
    text-transform: capitalize;
    transition: 0.5s;
}
.menu-link ul li:hover > a{
    transform-origin: left;
    color: #00b4d8;
    transition: 0.5s;
    text-decoration: underline;
    
}


.social-media{
    grid-column: 4/5;

    
}



.social-media ul{
    height: 255px;
    display: grid;
    align-items: center;
    grid-template-columns: 3fr repeat(3, 1fr);
    align-items: center;
    justify-content: flex-end;
}
.social-media ul li{
    list-style-type: none;
    text-align: center;
}
.social-media ul li:first-child{
    grid-column: 2/3;
}

.social-media .hamburger-menu{
    display: none;
    
}
.hamburger-menu a{
    color:  #03045e;
}
.Facebook{
    color: #3b5998;
}
.Instagram{
    color: #c32aa3;
}
.Youtube{
   color: #ff0000; 
}



/* mobile responsive of nav */


@media (max-width: 1080px){
    .main-nav{
        height: 80px;
        grid-template-columns: 32px 3fr 3fr 32px;
    }
    .logo,
    .menu-link ul{
        height: 60px;
    }


    .social-media ul{
        height: 255px;
    }

   

}
@media (max-width: 998px){
    .main-nav{
        height: 80px;
        grid-template-columns: 32px 2fr 3fr 32px 32px;
    }
    .menu-link{
        display: none;

    }
    .logo,
    .social-media ul{
        height: 112px;
    }

    .mobile-menu-link{
        grid-column: 2/4;
        position: relative;
        z-index: 99;
    }
     .mobile-menu-link{
        background-color: #fff;
        height: 400px;
        display: grid;
        grid-column: 2/5;
        align-items: center;
        padding-left: 250px;
        transition: all 2s linear;
        transform-origin: top;
        bottom: 35px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

     }
     .mobile-menu-link ul{
        height: 320px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: start;
     }
     .mobile-menu-link ul li:first-child {
        transition: 0.2s;
     }
     .social-media{
        grid-row: 1/2;
        grid-column: 3/5;
        justify-items: end;
        align-items: center;
        transition: all 2s linear;
     }
     .social-media .social-media-desktop{
        height: 0;
        display: none;
     } 
     .social-media .hamburger-menu{
        position: absolute;
        right: 20px;
        margin-top: 50px;
        display: inline-block;
        font-size: 18px;
     }
   
}
