.Services{
    height: 700px;

   
    
}
.Services h1{
    font-size: 30px;
    font-weight: 600;
    color: #03045e;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;


}
.Services h1::after{
    content: '';
    background-color: #03045e;
    display: block;
    height: 3px;
    width: 50px;
    margin: 20px auto 5px;
}

.service-content{
    display: flex;
    width: 100%;
    height: 600px;
   
}
.column-container {
    flex: 2;
    min-width: 0;
    display: flex;
    flex-direction: column;

}

.item-container-1{
   
    
    margin: 0px;
    padding: 0px;
    flex-grow: 1;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.item-container-1 .icon{
    
    text-align: right;

    margin-top: 80px;
    width: 400px; 
    padding-left: 100px;
  

  

}
.item-container-1 .icon .ic {

    
    text-align: right;
    color: #273B93;

    
    
    
    



}

.item-container-1 .icon h2{
    color: #273B93;  
    float: right;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
   
}
.item-container-1 .icon p{
    color: #273B93;  
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
  
    
   

}

.item-container-2{
    
   
    margin: 0px;
    padding: 0px;
    height: 80px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: right;
}
.item-container-2 .icon{
  
    text-align: right;
    margin-top: 14px;
    width: 400px;
    padding-left: 100px;
   
 
 }
 .item-container-2 .icon .ic {
        font-display: large;
        text-align: right;
        color: #273B93;  
           
    
 
 
 }
 
 .item-container-2 .icon h2{
     float: right;
     margin-bottom: 12px;
     color: #273B93; 
     font-family: sans-serif; 
    
     
 }
 .item-container-2 .icon p{
     float: right;
     margin-bottom: 10px;
     color: #273B93; 
     font-family: sans-serif; 
     
 }


.item-container-3{
   
    

    margin: 0px;
    padding: 0px;
   
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-container-4{
    
    width: 400px;
    margin: 0px;
    padding: 0px;
    height: 80px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-container-4 .icon{
    margin-top: 88px;
    
    text-align: left;
    width: 600px; 
}

.item-container-4 .icon .ic {
    color: #273B93; 



}
.item-container-4 .icon h2{
    margin-bottom: 13px;
    color: #273B93; 
    font-family: sans-serif;
    
}
.item-container-4 .icon p{
    color: #273B93;  
    float: left;
    font-family: sans-serif;
    margin-bottom: 38px;
  
    
   

}
.item-container-5{
    
    width: 400px;
    margin: 0px;
    padding: 0px;
    height: 80px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;


}
.item-container-5 .icon{
    text-align: left;
    margin-bottom: 90px;
    width: 600px; 
}
.item-container-5 .icon .ic {
    color: #273B93;



}

.item-container-5 .icon h2{
    margin-bottom: 20px;
    color: #273B93; 
    font-family: sans-serif;
   
}

.item-container-5 .icon p{
    color: #273B93;  
    float: left;
    font-family: sans-serif;  
    margin-bottom: 35px;
    
   

}
.item-container-3 img{
   height: 530px;
    
}



