.testomonial{
    height: 52vh;
    
}


.testomonial .slick-arrow.slick-prev
{
    background-color: #03045e;
    width: 45px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    border-radius: 25px;
   
}



.testomonial .slick-arrow.slick-next{
    background-color: #03045e;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    border-radius: 25px;

}


.slick-prev::before,
.slick-next::before{
    display: none;
}
.slick-arrow.slick-next{
    right: -150px;
}
.slick-arrow.slick-prev{

    left: -160px;
}

h1{
    font-family: "Roboto";
    font-size: 25px;
    margin-left: 25px;
    color: #03045e;
    font-family: 'Arial';
}
.testomonial .slick-dots{
    color: white;
}
.testomonial .slick-dots li button:hover{
    font-size: 5px;
 
  
}
.testomonial .slick-dots li{
    top: 30px;
   
 
    
}

.img img{
    display: block;
    border-color: aliceblue;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
}

